[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Verena
Exec=/usr/bin/invoker --splash /opt/verena/res/verena_splash.png --type=d -s /opt/verena/bin/verena
Icon=/usr/share/icons/hicolor/80x80/apps/verena.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
